{% extends 'component/layout.html' %}

{% block head %}
{{ super() }}
<!-- Custom styles for this template-->
<link href="{{ url_for('static', filename='css/sb-admin-2.min.css') }}" rel="stylesheet">
<!-- Year Picker -->
<link rel="stylesheet" href="{{ url_for('static', filename='js/yearpicker/yearpicker.css') }}">
{% endblock head %}

{% block content %}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
</div>

<!-- Flash Row -->
<div class="row">
    <div class="col">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
</div>

<!-- Content Row -->
<div class="row">

    <!-- Jumlah Pemilik UMKM -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-danger shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                            Jumlah Pemilik UMKM</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{ owner_count }}</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-users fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Jumlah UMKM -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                            Jumlah UMKM</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{ umkm_count }}</div>
                    </div>
                    <div class="col-auto">
                        <i class="fa fa-building fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Jumlah Brand -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Jumlah Brand
                        </div>
                        <div class="row no-gutters align-items-center">
                            <div class="col-auto">
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ brand_count }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Jumlah Produk -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                            Jumlah Produk</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{ product_count }}</div>
                    </div>
                    <div class="col-auto">
                        <i class="fa fa-shopping-bag fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Content Row -->

<div class="row">

    <!-- Area Chart -->
    <div class="col">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Frekuensi Unggah Excel</h6>
                <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                        aria-labelledby="dropdownMenuLink">
                        <div class="dropdown-header">Dropdown Header:</div>
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <label for="pick-year" class="form-label">Tahun:</label>
                <input id="pick-year" type="text" class="yearpicker form-control" value="">
                <div class="chart-area" id="chart-frequency-container">
                    <canvas id="excelAreaChart"></canvas>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock content %}

{% block script %}
{{ super() }}

<!-- Page level plugins -->
<script src="{{ url_for('static', filename='vendor/chart.js/Chart.min.js') }}"></script>

<!-- Page level custom scripts -->
<script src="{{ url_for('static', filename='js/demo/chart-area-excel-frequency.js') }}"></script>

<!-- Year Picker JS -->
<script src="{{ url_for('static', filename='js/yearpicker/yearpicker.js') }}"></script>

<script>
    // Year Picker Script
    $('.yearpicker').yearpicker({
        year: new Date().getFullYear()
    });

    // Year Picker Onchange
    $('#pick-year').change(function () {
        var year = $('#pick-year').val();
        if (year) {
            $.ajax({
                url: '/get_excel_frequency',
                type: 'GET',
                data: {
                    year: year,
                }
            }).done(function (data) {
                console.log(data.frequencies)
                console.log(data.null)
            });
        }
    });
</script>

{% endblock script %}