<!DOCTYPE html>
<html lang="en">

{% include 'component/header.html' %}

<body>
  <!--Main Navigation-->
  <header>
    <!-- Sidebar -->
    <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
      <div class="position-sticky">
        <div class="list-group list-group-flush mx-3 mt-4">
          <a href="{{ url_for('home') }}"
            class="list-group-item list-group-item-action py-2 ripple {% if active == 'home' %}{{ 'active' }} {% endif %}">
            <span>Home</span>
          </a>
          <a href="{{ url_for('owner_home') }}"
            class="list-group-item list-group-item-action py-2 ripple {% if active == 'owner' %}{{ 'active' }}{% endif %}">
            <span>Pemilik UMKM</span>
          </a>
          <a href="{{ url_for('umkm_home') }}"
            class="list-group-item list-group-item-action py-2 ripple {% if active == 'umkm' %}{{ 'active' }}{% endif %}">
            <span>UMKM</span></a>
          <!-- <a href="#" class="list-group-item list-group-item-action py-2 ripple">
            <span>Brand</span></a>
          <a href="#" class="list-group-item list-group-item-action py-2 ripple">
            <span>Produk</span></a> -->
        </div>
      </div>
    </nav>
    <!-- Sidebar -->

    <!-- Navbar -->
    <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
      <!-- Container wrapper -->
      <div class="container-fluid">
        <!-- Toggle button -->
        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#sidebarMenu"
          aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
          <img src="{{ url_for('static', filename='img/icon/sidebar-menu-25.png') }}" alt="" class="img-responsive">
        </button>

        <!-- Logo -->
        <a class="navbar-brand" href="#">
          <img src="{{ url_for('static', filename='img/favicon/icon-sm.png') }}" height="50" alt="" loading="lazy" />
        </a>

        <!-- Search form -->
        {% if active == 'owner' %}
        <form class="d-none d-md-flex input-group w-auto my-auto" method="GET" action="{{ url_for('owner_search') }}">
          <input autocomplete="off" name="search_owner" type="search" class="form-control rounded"
            placeholder='Cari Data Pemilik UMKM (NIK/Nama)...' style="min-width: 225px" />
          <span class="input-group-text border-0"><i class="fas fa-search"></i></span>
        </form>
        {% elif active == 'umkm' %}
        <form class="d-none d-md-flex input-group w-auto my-auto" method="GET" action="{{ url_for('umkm_search') }}">
          <input autocomplete="off" name="search_umkm" type="search" class="form-control rounded"
            placeholder='Cari Data UMKM (UID/Nama)...' style="min-width: 225px" />
          <span class="input-group-text border-0"><i class="fas fa-search"></i></span>
        </form>
        {% endif %}

        <!-- Right links -->
        <ul class="navbar-nav ms-auto d-flex flex-row">
          <!-- Notification dropdown -->
          <!-- <li class="nav-item dropdown">
            <a class="nav-link me-3 me-lg-0 dropdown-toggle hidden-arrow" href="#" id="navbarDropdownMenuLink"
              role="button" data-mdb-toggle="dropdown" aria-expanded="false">
              <i class="fas fa-bell"></i>
              <span class="badge rounded-pill badge-notification bg-danger">1</span>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="#">Some news</a></li>
              <li><a class="dropdown-item" href="#">Another news</a></li>
              <li>
                <a class="dropdown-item" href="#">Something else here</a>
              </li>
            </ul>
          </li> -->

          <!-- Icon -->
          <!-- <li class="nav-item">
            <a class="nav-link me-3 me-lg-0" href="#">
              <i class="fas fa-fill-drip"></i>
            </a>
          </li> -->
          <!-- Icon -->
          <!-- <li class="nav-item me-3 me-lg-0">
            <a class="nav-link" href="#">
              <i class="fab fa-github"></i>
            </a>
          </li> -->

          <!-- Icon dropdown -->
          <!-- <li class="nav-item dropdown">
            <a class="nav-link me-3 me-lg-0 dropdown-toggle hidden-arrow" href="#" id="navbarDropdown" role="button"
              data-mdb-toggle="dropdown" aria-expanded="false">
              <i class="united kingdom flag m-0"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <li>
                <a class="dropdown-item" href="#"><i class="united kingdom flag"></i>English
                  <i class="fa fa-check text-success ms-2"></i></a>
              </li>
              <li>
                <hr class="dropdown-divider" />
              </li>
              <li>
                <a class="dropdown-item" href="#"><i class="poland flag"></i>Polski</a>
              </li>
              <li>
                <a class="dropdown-item" href="#"><i class="china flag"></i>中文</a>
              </li>
              <li>
                <a class="dropdown-item" href="#"><i class="japan flag"></i>日本語</a>
              </li>
              <li>
                <a class="dropdown-item" href="#"><i class="germany flag"></i>Deutsch</a>
              </li>
              <li>
                <a class="dropdown-item" href="#"><i class="france flag"></i>Français</a>
              </li>
              <li>
                <a class="dropdown-item" href="#"><i class="spain flag"></i>Español</a>
              </li>
              <li>
                <a class="dropdown-item" href="#"><i class="russia flag"></i>Русский</a>
              </li>
              <li>
                <a class="dropdown-item" href="#"><i class="portugal flag"></i>Português</a>
              </li>
            </ul>
          </li> -->

          <!-- Avatar -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle hidden-arrow d-flex align-items-center" href="#"
              id="navbarDropdownMenuLink" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
              <img src="https://mdbootstrap.com/img/Photos/Avatars/img (31).jpg" class="rounded-circle" height="22"
                alt="" loading="lazy" />
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
              <!-- <li><a class="dropdown-item" href="#">My profile</a></li>
              <li><a class="dropdown-item" href="#">Settings</a></li> -->
              <li><a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->
  </header>
  <!--Main Navigation-->
  <!--Main layout-->
  <main style="margin-top: 58px">
    <div class="container-fluid p-4">
      {% block content %}{% endblock content %}
    </div>
  </main>
  <!--Main layout-->
  <!-- MDB -->
  <script type="text/javascript" src="{{ url_for('static', filename='js/mdb.min.js') }}"></script>
</body>

</html>